body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
  
    background-color: white;
    border: solid hotpink 2px;

}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 24px;
}
li {
    
    text-decoration: none;

}
h1 {
    font-size: 60px;
    margin: 0;
}
h2 {
    font-size: 50px;
}
p {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}
.hero-area {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.hero-text{ 
    margin-left: 80px;
    margin-bottom: 200px;
}
.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #FF6384;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 20px;
    
}
.button:hover {
    background-color: #ef744b;
}
.button:active {
    background-color: #A9A9A9;
    color: #808080;
}
body {
    font-family: 'Varela Round', sans-serif;
}


.socials {
    padding-bottom: 200px;
}
.social {
    margin: 10px;
}
.logo {
    height: 80px;
    margin: 30px;
    border-radius: 25px;
}

.subsection {
    display: flex;
    margin: 30px;
    /* justify-content: space-evenly; */
    padding: 20px;
    
}

.info {
 padding:30px;
}
.headshot {
    height: 200px;
    border-radius: 20%;
}

.headshot-container {
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
}
.resume-pic {
    border-radius: 20%;
}
.listed {
    font-size: medium;
}
.resume-right {
    display: flex;
    padding: 30px;


}
.fg-logo {
 width: 100px;
 
}

.p-resume {
    font-size: medium;
}
h5{
    display: flex;
    justify-content: space-between;
}
.space-icons {
    justify-content: flex-start;
    padding: 20px;
}